# Rider/IntelliJ
.idea/
*.iml
*.userprefs

# uploads
wwwroot/uploads/
wwwroot/thumbnails/

# JetBrains Rider user-specific files
*.sln.DotSettings.user

# Build outputs
bin/
obj/

# Sensitive data
appsettings.Development.json

# Database 
*.db
*.db-shm
*.db-wal
*.db-journal
