@page
@using Microsoft.AspNetCore.StaticFiles
@model imageboard.Pages.ItemDetails

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        @if (@Model.item != null)
        {
            string fileExtension = Model.GetFileExtension(Model.item.FileName);
            @if (Model.IsVideoExtension(fileExtension))
            {
                <video controls style="max-width: 100%;">
                    <source src="@Model.item.FullUrl" 
                            type=@($"video/{fileExtension}")>
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                <img src="@Model.item.FullUrl" 
                    alt="@Model.item.FileName" 
                    style="max-width: 100%;" />
            }
        }
        else
        {
            <div class="alert alert-warning">
                404 IMAGE NOT FOUND
            </div>
        }
    </div>
</body>
</html>