@page
@model imageboard.Pages.ItemDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<div class="container">
    @Model.item.Description
</div>
<body>
<div>
    
</div>
</body>
</html>