@page
@model imageboard.Pages.ItemDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        @if (@Model.item != null)
        {
            @if (Model.GetFileExtension(Model.item.FileName) == "mp4")
            {
                <video controls style="max-width: 100%;">
                    <source src="@Model.item.FullUrl" 
                            type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                <img src="@Model.item.FullUrl" 
                    alt="@Model.item.FileName" 
                    style="max-width: 100%;" />
            }
        }
        else
        {
            <div class="alert alert-warning">
                404 IMAGE NOT FOUND
            </div>
        }
    </div>
</body>
</html>