@page
@model imageboard.Pages.ItemDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        @if (@Model.item != null)
        {
            @Model.item.Description
        }
        else
        {
            <div class="alert alert-warning">
                404 IMAGE NOT FOUND
            </div>
        }
    </div>
</body>
</html>